/* The animation code */
@keyframes colorChange {
    5% {
        color: #4b0082;
    }

    15% {
        color: #ffa500;
    }

    25% {
        color: #ffff00;
    }

    45% {
        color: #ba3232;
    }

    65% {
        color: #ffa500;
    }
    
    85% {
        color: #ee82ee;
    }

    100% {
        color: #008000;
    }
}